h3 { height: 25%; }

ion-slides { height: 100%; }

.swiper-slide { display: block; }

.incomplete {
    align-items: center;
    display: flex;
}

ion-menu-button {
    color: var(--ion-color-primary);
}

ion-content{
    --background: #19133A;
}

ion-button{
    --background: #09051E;
}

ion-toolbar{
    --background: #5A56CB;
}

ion-card{
--background: #070619;
    ion-card-header{
    ion-item{
    --background: #070619;
    }
}
}

ion-item{
    --background: #070619;
}

ion-row{
    ion-item{
    --background: #070619;
    }
}

ion-label{
    --background: #070619;
}