<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button [disabled]="isRunning"></ion-menu-button>
    </ion-buttons>
    <ion-title>Sleep Timer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Journal</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-row class="ion-justify-content-center">
    <h1>{{ timer | time}}</h1>
  </ion-row>

</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="toggleTimer()">{{ isRunning ? 'Stop' : 'Start'}}</ion-button>
</ion-footer>
