<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button [disabled]="isRunning"></ion-menu-button>
    </ion-buttons>
    <ion-title>Sleep Timer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="tertiary">
  <ion-row class="ion-justify-content-center">
    <h1>{{ timer | time}}</h1>
  </ion-row>

  <!-- Today's Date -->
  <ion-item lines="none" color="secondary">
    <ion-label class="todayDate">Timer History</ion-label>

    <ion-buttons slot="end">
      <ion-button
      [disabled]="timerHistory.getHistory().length === 0" 
      (click)="onClear()">Clear</ion-button>
    </ion-buttons>
  </ion-item>

  <!-- No Entries -->
  <div class="ion-padding ion-text-center" 
  *ngIf="timerHistory.getHistory().length === 0">
    <p>You don't have any timers.</p>
  </div>

  <!-- Entry Cards -->
  <ion-card *ngFor="let timerEntry of timerHistory.getHistory(); let i = index"
  color="secondary">
    <ion-card-header>
      <ion-item color="secondary">
        <ion-input readonly>{{ timerEntry.endTime | time }}</ion-input>
        <ion-input readonly>{{ timerEntry.timerDate | date:'dd MMM YYY'}}<br>
        {{ timerEntry.timerDate | date:'HH:mm:ss'}}</ion-input>
      </ion-item>
    </ion-card-header>

    <!-- Delete Button -->
    <ion-row>
      <ion-item button (click)="timerHistory.removeEntry(i)" color="secondary">
        <ion-icon name="trash"></ion-icon>
        <p>Delete</p>
      </ion-item>
    </ion-row>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-button expand="block" [color]="isRunning? 'danger' : 'success'" (click)="toggleTimer()">{{ isRunning ? 'Stop' : 'Start'}}</ion-button>
</ion-footer>
