<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Themes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">  
  <ion-card *ngFor="let theme of themes; let i = index" 
  (click)="changeColor(theme)"
  [class]="theme.class"
  [disabled]="journalHistory.journalLength < theme.journalNeed 
  && timerHistory.timerHistoryLength <= theme.timerNeed">
    <ion-card-header>
      <ion-card-title> {{ theme.name }} </ion-card-title>
    </ion-card-header>
    <ion-card-content 
    *ngIf="journalHistory.journalLength < theme.journalNeed 
    && timerHistory.timerHistoryLength <= theme.timerNeed">
      Entries Needed: <br>
      {{ theme.journalNeed }} journal entries <br>
      {{ theme.timerNeed }} timer entries
    </ion-card-content>
      <!-- <ion-item id="red">
        <ion-button color="danger" (click)="changeColor(1)"> Red </ion-button>
      </ion-item> -->
    </ion-card>
</ion-content>
