ion-content{
    --background: #19133A;
}

ion-content.red{
    --background: #ac3766;    
}

ion-toolbar{
    --background: #5A56CB;
}

ion-content.green{
    --background: rgb(36, 112, 36);    
}

ion-content.yellow{
    --background: rgb(196, 196, 31);    
}

ion-menu-button {
    color: var(--ion-color-primary);
}

ion-grid{
    --ion-grid-column-padding: 50px;
    --ion-grid-padding: 10px;

    ion-col{
        text-align: center;
    }
}

ion-button{
    display: flex;
}

ion-card-title{
    text-align: center;
}

#cardRed{
    --background: #6c292e; 
}

#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}

