<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Themes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [class]="getColorName()">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Themes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col id="red">
        <ion-button color="danger" (click)="changeColor(1)"></ion-button>
      </ion-col>
      <ion-col id="green">
        <ion-button color="success" (click)="changeColor(2)"></ion-button>
      </ion-col>
      <ion-col id="purple">
        <ion-button color="warning" (click)="changeColor(3)"></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
