<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Themes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [class]="getColorName()">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Themes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button id="triggerRed"> ! </ion-button>
  <ion-popover trigger="triggerRed">
    <ng-template>
      <ion-content><h3>Entries Needed (Red):</h3>
      <p>1 Journal</p></ion-content>
    </ng-template>
  </ion-popover>
  
  <ion-card *ngFor="let theme of themes; let i = index" 
  (click)="changeColor(1)" [class]="theme.class" [disabled]="disable">
    <ion-card-header>
      <ion-card-title> {{ theme.name }} </ion-card-title>
    </ion-card-header>
    <ion-card-content 
    *ngIf="journalHistory.journalLength < theme.journalNeed 
    && timerHistory.timerHistoryLength <= theme.timerNeed">
      Entries Needed: <br>
      {{ theme.journalNeed }} journal entries <br>
      {{ theme.timerNeed }} timer entries
    </ion-card-content>
      <!-- <ion-item id="red">
        <ion-button color="danger" (click)="changeColor(1)"> Red </ion-button>
      </ion-item> -->
    </ion-card>
</ion-content>
