ion-menu-button {
    color: var(--ion-color-primary);
  }
  
  ion-content{
    --background: #19133A;
}

ion-button{
  --background: #09051E;
}

ion-toolbar{
  --background: #5A56CB;
}

ion-card{
  --background: #070619;
  ion-card-header{
    ion-item{
      --background: #070619;
    }
  }
}

ion-item{
  --background: #070619;
}

ion-row{
  ion-item{
    --background: #070619;
  }
}

ion-label{
  --background: #070619;
}

  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }