<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Journal Entry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Journal Entry</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="entryData" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Entry Title</ion-label>
        <ion-input formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Entry Content</ion-label>
        <ion-input formControlName="content"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button type="submit" expand="block">Add Entry</ion-button>
  </form>
</ion-content>
