ion-toolbar{
    --background: #5A56CB;
}

ion-item{
    --background: #070619;
}

ion-button{
    --background: #5A56CB;
}

ion-card{
    --background: #070619;
}

ion-content{
    --background: #19133A;
}
