<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Add New Entry</ion-title>
    <ion-icon name="close" slot="end" size="large" (click)="dismiss()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="tertiary">
  <ion-card color="secondary">
    <ion-item color="secondary">
      <ion-textarea [(ngModel)]="entryTitle" placeholder="Your title here"></ion-textarea>
    </ion-item>
    <ion-item color="secondary">
      <ion-textarea [(ngModel)]="entryContent" placeholder="Your entry here"></ion-textarea>
    </ion-item>

    <ion-button class="ion-margin" expand="block" (click)="addEntry()"
    color="success">Add Entry</ion-button>
  </ion-card>

</ion-content>
