<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <div 
  id="user-header" 
  class="ion-padding">

    <!-- User Details -->
    <div class="ion-text-center">
      <h3>Welcome!</h3>
    </div>

    <ion-card color="secondary">
      <ion-card-header>
        Journal Entries Written: {{ entries }}
      </ion-card-header>
    </ion-card>
    <ion-card color="secondary">
      <ion-card-header>
        Timer Entries Recorded: {{ timers }}
      </ion-card-header>
    </ion-card>

  </div>
</ion-content>
